<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto - EstoqueSmart</title>
    <link rel="stylesheet" href="src\main\resources\static\css\style.css">
</head>
<body>
    <aside class="sidebar">
        <ul>
            <li><a href="dashboard.html">Dashboards</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="cadastroProd.html">Cadastro de Produto</a></li>
            <li><a href="entradaSaida.html">Entrada/Saída</a></li>
        </ul>
    </aside>

    <main class="main-content">
        <h2>Cadastro de Produtos</h2>
        <form>
            <input type="text" placeholder="Nome do Produto">
            <input type="text" placeholder="ID do Produto">
            <input type="text" placeholder="SKU">
            <input type="text" placeholder="Categoria">
            <input type="number" placeholder="Quantidade">
            <button type="submit">Continuar</button>
        </form>
    </main>
    <script src="src\main\resources\static\js\script.js"></script>
</body>
</html>
