<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - EstoqueSmart</title>
    <link rel="stylesheet" href="src\main\resources\static\css\style.css">
</head>
<body>
    <aside class="sidebar">
        <ul>
            <li><a href="dashboard.html">Dashboards</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="cadastroProd.html">Cadastro de Produto</a></li>
            <li><a href="entradaSaida.html">Entrada/Saída</a></li>
        </ul>
    </aside>

    <main class="main-content">
        <h2>Dashboard</h2>
        <div class="dashboard-cards">
            <div>Produtos com estoque baixo: 0</div>
            <div>Quantidade de produtos no estoque: 1000</div>
            <div>Custo total de produtos: R$500</div>
        </div>
        <div class="chart">[Gráfico de Valor em Estoque]</div>
    </main>
    <script src="src\main\resources\static\js\script.js"></script>
</body>
</html>
