<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada/Saída - EstoqueSmart</title>
    <link rel="stylesheet" href="src\main\resources\static\css\style.css">
</head>
<body>
    <aside class="sidebar">
        <ul>
            <li><a href="dashboard.html">Dashboards</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="cadastroProd.html">Cadastro de Produto</a></li>
            <li><a href="entradaSaida.html">Entrada/Saída</a></li>
        </ul>
    </aside>

    <main class="main-content">
        <h2>Entrada/Saída</h2>
        <form>
            <label>Data: <input type="date"></label>
            <label>Hora: <input type="time"></label>
            <textarea placeholder="Descrição"></textarea>
            <button type="submit">Confirmar</button>
        </form>
    </main>
    <script src="src\main\resources\static\js\script.js"></script>
</body>
</html>
